body
{
  margin: 0 0 0 0;
  overflow-x: hidden;
  background-color: #fffd8d;
}
.Modal {
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9999;
  width: 100%;
  height: 100%;
  padding-top: 100px;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.4);
  -webkit-transition: 0.5s;
  overflow: auto;
  transition: all 0.3s linear;
  -webkit-transform: translateZ(0);
}
.Modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border-radius: 4px;
  max-width: 300px;
  height: 450px;
}
.ModalOpen { overflow: hidden; }
.is-hidden { display: none; }
.is-visuallyHidden { opacity: 0; }
.is-blurred {
  filter: blur(2px);
  -webkit-filter: blur(2px);
}
.top1
{
  /* position: absolute; */
  z-index: 1;
  position: sticky;
  top: 0;
  margin: 0 0 0 0;
  height : 100px;
  /* background-color: #2E8B57; */
  /* background-image: image("bbrl9.png"); */
  /* background-color: transparent; */
  /* box-shadow: 15px 10px 25px #696969; */
  transition: all 1s;
}
.top_back_img
{
  width: 1600px;
  height: 100px;
  opacity: 1;
  transition-duration: 0.7s;
}
.top_back_im
{
  width: 1600px;
  height: 100px;
}
.top_back_anim1
{
  animation-name: top-anim1;
  animation-duration: 2s;
}
@keyframes top-anim1 {
  0%{opacity : 1}
  100%{opacity : 0.2}
}
.top_back_anim2
{
  animation-name: top-anim2;
  animation-duration: 2s;
}
@keyframes top-anim2 {
  0%{opacity : 0.2}
  100%{opacity : 1}
}
/* {
  /* background: #CCC; */
  /* background-color: transparent; */
  /* opacity: 0.2; */
  /* top: 0; */
  /* left: 0; */
  /* height: auto; */
  /* width: 100%; */
/* }  */
.bbrl_logo
{
  position: absolute;
  left: 100px;
  top: 20px;
  height: 70px;
  width: 70px;
}
.top2
{
  position: absolute;
  left: 250px;
  top: 80px;
}
.btn1
{
  display: inline-block;
  position: relative;
  left: 20px;
  bottom: 40px;
  width: 115px;
  height: 40px;
  background-color:inherit;
  border: none;
  font-size: 22px;
  font-style: italic;
  font-family: "Candora";
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.btn2
{
  display: inline-block;
  position: relative;
  left: 40px;
  bottom: 40px;
  width: 210px;
  height: 40px;
  background-color:inherit;
  border: none;
  font-size: 22px;
  font-style: italic;
  font-family: "Candora";
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.btn3
{
  position: relative;
  bottom: 40px;
  left: 40px;
  background-color: #E6E6FA;
  width: 150px;
  height: 40px;
  border: none;
  border-radius: 25px;
  font-style: oblique;
  font-size: 20px;
  cursor: pointer;
}
.btn5
{
  display: inline-block;
  position: relative;
  left: 40px;
  bottom: 40px;
  width: 80px;
  height: 40px;
  background-color:inherit;
  border: none;
  font-size: 22px;
  font-style: italic;
  font-family: "Candora";
  color: black;
  text-decoration: none;
}
.btn6
{
  display: inline-block;
  position: relative;
  left: 30px;
  bottom: 40px;
  width: 120px;
  height: 40px;
  background-color:inherit;
  border: none;
  font-size: 22px;
  font-style: italic;
  font-family: "Candora";
  color: black;
  text-decoration: none;
}
.btn1:hover
{
  border-bottom: 1px solid #F0FFF0;
  border-image: linear-gradient(to right, transparent 10%, #000 40%, transparent 50%) 100% 1;
  font-size: 23.5px;
  text-shadow: 1px 1px #DC143C;
}
.btn2:hover
{
  border-bottom: 1px solid #F0FFF0;
  border-image: linear-gradient(to right, transparent 20%, #000 50%, transparent 30%) 100% 1;
  font-size: 23.5px;
  text-shadow: 1px 1px #DC143C;
}
.btn5:hover
{
  border-bottom: 1px solid #F0FFF0;
  border-image: linear-gradient(to right, transparent 20%, #000 50%, transparent 30%) 100% 1;
  font-size: 23.5px;
  text-shadow: 1px 1px #DC143C;
}
.btn6:hover
{
  border-bottom: 1px solid #F0FFF0;
  border-image: linear-gradient(to right, transparent 20%, #000 50%, transparent 30%) 100% 1;
  font-size: 23.5px;
  text-shadow: 1px 1px #DC143C;
}
.dropdown
{
  display: inline-flex;
}
.dropdown1
{
  display: inline-flex;
}
.dropdown2
{
  display: inline-flex;
  /* width: 240px; */
}
.dropdown3
{
  display: inline-flex;
  /* width: 240px; */
}
.dropdown-content
{
  position: absolute;
  display: none;
  background-color: #20B2AA;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  left: 10px;
  top: 5px;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {background-color: #00FFFF;}
.dropdown:hover .dropdown-content {display: block;}
.dropdown-content1
{
  position: absolute;
  display: none;
  background-color: #20B2AA;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  left: 130px;
  top: 5px;
}
.dropdown-content1 a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content1 a:hover {background-color: #00FFFF;}
.dropdown1:hover .dropdown-content1 {display: block;}
.dropdown-content2
{
  position: absolute;
  display: none;
  background-color: #20B2AA;
  /* min-width: 280px; */
  width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  left: 350px;
  top: 5px;
}
.dropdown-content2 a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content2 a:hover {background-color: #00FFFF;}
.dropdown2:hover .dropdown-content2 {display: block;}
.dropdown-content3
{
  position: absolute;
  display: none;
  background-color: #20B2AA;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  left: 650px;
  top: 5px;
}
.dropdown-content3 a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content3 a:hover {background-color: #00FFFF;}
.dropdown3:hover .dropdown-content3 {display: block;}
.btn3:hover
{
  box-shadow: 5px 10px #888888;
  font-size: 21px;
  text-shadow: 2px 2px white;
}
.prod_top
{
  height: 180px;
  background-image: url("bbrl15.jpg");
  /* filter: blur(1px);
  -webkit-filter: blur(1px); */
  background-repeat: no-repeat;
  background-size:cover;
}
.prod-top-anim
{
  animation-name: prod-anim;
  animation-duration: 3s;
}
.prod-top-anim1
{
  position: absolute;
  left: 100px;
  top: 140px;
  font-size: 40px;
  font-family: "Lucida Handwriting";
}
@keyframes prod-anim
{
  0%{opacity: 0;}
  100%{opacity: 1;}
}
.img_prod
{
  width: 240px;
  margin-right: 0.5;
  /* display: inline; */
}
.v1
{
  height: 140px;
}
.image-ticker
{
  overflow: hidden;
  display: flex;
  width: 200%;
  animation: slide 15s linear infinite;
  transform: translate(0, -50%);
}
.image-ticker:hover
{
  animation-play-state: paused;
}
.prod_one{
  width: 100%;
}
.prod_two
{
  width: 100%;
  margin-left: 0;
}
@keyframes slide {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-50%, 0, 0);
  }
}
.image-ticker
{
  border: solid;
  border-width: medium;
}
.brand_prod
{
  padding: 20px;
  font-size: 30px;
  font-family: "Candara";
  background-image: url("bbrl16.jpg");
  height: 380px;
}
.animation_drc {
    opacity: 0;
    transition: all 0.7s ease-out;
    transition-delay: 0.9s;
}
@keyframes drc-anim {
  0%{left: 0}
  100%{left: 200px;}
}
.scroll-animation_drc {
    opacity: 1;
    animation-name:drc-anim;
    animation-duration: 3s;
}
.animation1_drc {
    opacity: 0;
    transition: all 0.7s ease-out;
    transition-delay: 0.4s;
}
.scroll-animation1_drc {
    opacity: 1;
    animation-name:drc-anim1;
    animation-duration: 3s;
}
@keyframes drc-anim1 {
  0%{opacity: 0}
  100%{opacity: 1}
}
.animation2_drc {
    opacity: 0;
    transition: all 0.7s ease-out;
    transition-delay: 1.6s;
}
.animation3_drc {
    opacity: 0;
    transition: all 0.7s ease-out;
    transition-delay: 1.6s;
}
.scroll-animation2_drc {
    opacity: 1;
    animation-name: drc-anim2;
    animation-duration: 4s;
}
.scroll-animation3_drc {
    opacity: 1;
    animation-name: drc-anim3;
    animation-duration: 4s;
}
@keyframes drc-anim2 {
  /* 0%{right: -100px}
  100%{right: 100px;} */
  0%{left: 1000px}
  100%{left: 900px;}
}
@keyframes drc-anim3 {
  0%{left: 1000px}
  100%{left: 900px;}
}
.drc_head
{
  font-size: 70px;
  font-family: "Lucida Handwriting";
  position: relative;
  top: 300px;
  left: 200px;
}
.drc_img
{
  position: absolute;
  top: 880px;
  right: 160px;
}
.drc_row1
{
  position: relative;
  top: -100px;
  left: 900px;
}
.drc_row2
{
  position: relative;
  top: 100px;
  left: 900px;
}
.drc1
{
  display: inline-block;
  width: 250px;
}
.drc2
{
  display: inline-block;
  width: 250px;
}
.drc1 img
{
  height: 150px;
  width: 150px;
}
.drc1 h3
{
  height: 50px;
  width: 200px;
  font-family: "Candara";
}
.drc2 img
{
  height: 150px;
  width: 150px;
}
.drc2 h3
{
  height: 50px;
  width: 200px;
  font-family: "Candara";
}
.animation_kmp {
    opacity: 0;
    transition: all 0.7s ease-out;
    transition-delay: 0.9s;
}
@keyframes kmp-anim {
  0%{left: 1200px}
  100%{left: 1000px;}
}
.scroll-animation_kmp {
    opacity: 1;
    animation-name:kmp-anim;
    animation-duration: 3s;
}
.animation1_kmp {
    opacity: 0;
    transition: all 0.7s ease-out;
    transition-delay: 0.4s;
}
.scroll-animation1_kmp {
    opacity: 1;
    animation-name:kmp-anim1;
    animation-duration: 3s;
}
@keyframes kmp-anim1 {
  0%{opacity: 0}
  100%{opacity: 1}
}
.animation2_kmp {
    opacity: 0;
    transition: all 0.7s ease-out;
    transition-delay: 1.6s;
}
.animation3_kmp {
    opacity: 0;
    transition: all 0.7s ease-out;
    transition-delay: 1.6s;
}
.scroll-animation2_kmp {
    opacity: 1;
    animation-name: kmp-anim2;
    animation-duration: 4s;
}
@keyframes kmp-anim2 {
  0%{left: -100px}
  100%{left: 100px;}
}
.kmp_head
{
  font-size: 70px;
  font-family: "Lucida Handwriting";
  position: relative;
  top: 400px;
  left: 1000px;
}
.kmp_img
{
  position: absolute;
  top: 1680px;
  left: 160px;
}
.kmp_row1
{
  position: relative;
  top: -100px;
  left: 100px;
}
.kmp_row2
{
  position: relative;
  top: 100px;
  left: 100px;
}
.kmp1
{
  display: inline-block;
  width: 250px;
}
.kmp2
{
  display: inline-block;
  width: 250px;
}
.kmp1 img
{
  height: 150px;
  width: 150px;
}
.kmp1 h3
{
  height: 50px;
  width: 200px;
  font-family: "Candara";
}
.kmp2 img
{
  height: 150px;
  width: 150px;
}
.kmp2 h3
{
  height: 50px;
  width: 200px;
  font-family: "Candara";
}
.shiva_head
{
  font-size: 70px;
  font-family: "Lucida Handwriting";
  position: relative;
  top: 400px;
  left: 200px;
}
.shiva_img
{
  position: absolute;
  top: 2380px;
  right: 160px;
}
.shiva_row1
{
  position: relative;
  top: -100px;
  left: 900px;
}
.shiva_row2
{
  position: relative;
  top: 100px;
  left: 900px;
}
.shiva1
{
  display: inline-block;
  width: 250px;
}
.shiva2
{
  display: inline-block;
  width: 250px;
}
.shiva1 img
{
  height: 150px;
  width: 150px;
}
.shiva1 h3
{
  height: 50px;
  width: 200px;
  font-family: "Candara";
}
.shiva2 img
{
  height: 150px;
  width: 150px;
}
.shiva2 h3
{
  height: 50px;
  width: 200px;
  font-family: "Candara";
}
.sathi_head
{
  font-size: 70px;
  font-family: "Lucida Handwriting";
  position: relative;
  top: 400px;
  left: 1000px;
}
.sathi_img
{
  position: absolute;
  top: 3130px;
  left: 160px;
}
.sathi_row1
{
  position: relative;
  top: -100px;
  left: 100px;
}
.sathi_row2
{
  position: relative;
  top: 100px;
  left: 100px;
}
.sathi1
{
  display: inline-block;
  width: 250px;
}
.sathi2
{
  display: inline-block;
  width: 250px;
}
.sathi1 img
{
  height: 150px;
  width: 150px;
}
.sathi1 h3
{
  height: 50px;
  width: 200px;
  font-family: "Candara";
}
.sathi2 img
{
  height: 150px;
  width: 150px;
}
.sathi2 h3
{
  height: 50px;
  width: 200px;
  font-family: "Candara";
}
.footer
{
  background-color: #4682B4;
  height: 400px;
  color: white;
  font-family: "Candara";
  position: relative;
  top: 150px;
}
.footer_img
{
  position: absolute;
  height: 150px;
  width: 150px;
  left: 150px;
}
.one
{
  position: absolute;
  left: 500px;
}
.two
{
  position: absolute;
  left: 750px;
}
.one a
{
  height: 1px;
  font-size: 20px;
  text-decoration: none;
  color: inherit;
}
.two a
{
  height: 1px;
  font-size: 20px;
  text-decoration: none;
  color: inherit;
}
.address
{
  position: absolute;
  left: 1000px;
}
.address p
{
  width: 500px;
  font-size: 20px;
}
